<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<!-- CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- JavaScript -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js">
	
</script>
<!-- importa os icones do materialize -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link rel="stylesheet" href="style/StileCss.css">
<meta charset="UTF-8">
<title>EventosApp</title>
</head>
<body>
	<header>
		<nav>
			<div class="nav-wrapper">
				<a href="/eventos" class="brand-logo">Lista de Eventos</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li>
						<a class="waves-effect waves-light btn"
							href="/editarEvento"><i class="material-icons right">edit</i>Editar
							Evento
						</a>
					</li>
					<li>
						<a class="waves-effect waves-light btn"
							href="/cadastrarEvento"><i class="material-icons right">format_list_bulleted</i>Cadastrar
							Evento
						</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<table class="container">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Local</th>
				<th>Data</th>
				<th>Horario</th>
				<th>Deletar</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="evento : ${eventos}">
				<td><a
					th:href="${(#mvc.url('EC#detalhesEvento').arg(0,evento.codigo)).build()}"><span
						th:text="${evento.nome}"></a></span></td>
				<td><span th:text="${evento.local}"></span></td>
				<td><span th:text="${evento.data}"></span></td>
				<td><span th:text="${evento.horario}"></span></td>
				<td><a class="waves-effect waves-light btn-small"
					th:href="${(#mvc.url('EC#deletarEvento').arg(0,evento.codigo)).build()}">
						<i class="material-icons right">delete</i>Deletar
				</a></td>
			</tr>
		</tbody>
	</table>
	<br />
	<hr />
	<div class="center">
		<a class="waves-effect waves-light btn-small" href="/imprimerelatorio">
		<i class="material-icons right">file_download</i>Download Relatorio</a>
	</div>
	
</body>
</html>